@font-face {
    font-family: "tusker";
    src: local("tusker"),
        url("../public/font/tusker.ttf") format("truetype");
}

@font-face {
    font-family: "MDPrimer";
    src: local("MDPrimer"),
        url("../public/font/MDPrimer.ttf") format("truetype");
}

.loda{
    font-family: "tusker";
}

.MDPrimer{
    font-family: "MDPrimer";
}